contextlib2>=0.5,<1.0
httplib2>=0.19,<1.0
backwork==0.3.1
backwork-backup-files==0.3.1
backwork-backup-mongo==0.3.2
backwork-backup-mysql==0.3.1
backwork-backup-postgresql==0.2.2
backwork-upload-cos==0.3.2
backwork-notifier-http-new==0.1.0
