{
  "env": {
    "jest/globals": true
  },
  "extends": [
    "airbnb-base",
    "plugin:jest/recommended"
  ],
  "rules": {
    "func-names": ["error", "never"],
    "no-return-assign": ["error", "except-parens"]
  },
  "plugins": [
    "jest"
  ]
}
