extends /layouts/login

block content
  .login-box.jumbotron
    h1 Log in to Chell
    a.btn.btn-lg.btn-primary(href="/auth/course-dev")
      i.fa.fa-lg.fa-sign-in
      |  Log in with Course Dev Account
